<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://shopdongho.local</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>shopdongho.local</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="QL_CUAHANGDHConnectionString1" Order="1" Enabled="False">
          <Destination Path="Data Source=LAPTOP-1LO8U7LN\SQLEXPRESS;Initial Catalog=QL_CUAHANGDH;User ID=sa;Password=nguyen114814" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-1LO8U7LN\SQLEXPRESS;Initial Catalog=QL_CUAHANGDH;User ID=sa;Password=nguyen114814" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QL_CUAHANGDHConnectionString1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LAPTOP-1LO8U7LN\SQLEXPRESS;Initial Catalog=QL_CUAHANGDH;User ID=sa;Password=nguyen114814" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QL_CUAHANGDHConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=LAPTOP-1LO8U7LN\SQLEXPRESS;Initial Catalog=QL_CUAHANGDH;User ID=sa;Password=nguyen114814" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-1LO8U7LN\SQLEXPRESS;Initial Catalog=QL_CUAHANGDH;User ID=sa;Password=nguyen114814" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QL_CUAHANGDHConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LAPTOP-1LO8U7LN\SQLEXPRESS;Initial Catalog=QL_CUAHANGDH;User ID=sa;Password=nguyen114814" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="QL_CUAHANGDHConnectionString1-Web.config Connection String">
      <ParameterValue>Data Source=LAPTOP-1LO8U7LN\SQLEXPRESS;Initial Catalog=QL_CUAHANGDH;User ID=sa;Password=nguyen114814</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="QL_CUAHANGDHConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=LAPTOP-1LO8U7LN\SQLEXPRESS;Initial Catalog=QL_CUAHANGDH;User ID=sa;Password=nguyen114814</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>